In [1]:
import pandas as pd
from pandasai import PandasAI
from pandasai.llm.openai import OpenAI
from pandasai.llm.azure_openai import AzureOpenAI
#from pyspark.sql import *
#from pyspark.sql.functions import *
#import duckdb as db
print(pd.__version__)

OPENAI_API_KEY = "ADD YOUR OPEN API KEY HERE"

2.0.2

In [3]:
import pandas as pd
from pandasai import PandasAI
from pandasai.llm.openai import OpenAI
from pandasai.llm.azure_openai import AzureOpenAI

row_wise_prompt_returning_entire_df='Increase the happiness score by 1 in every row and return the \
entire pandas dataframe with the value of happiness column.'

dataframe_level_prompt='Which are the 5 happiest countries?'

row_wise_prompt_returning_only_column='Increase the happiness score by 1 in every row and return the dataframe \
with the value of happiness column.'

# Sample DataFrame
df = pd.DataFrame({
    "country": ["United States", "United Kingdom", "France", "Germany", "Italy", "Spain", "Canada", "Australia", "Japan", "China"],
    "gdp": [19294482071552, 2891615567872, 2411255037952, 3435817336832, 1745433788416, 1181205135360, 1607402389504, 1490967855104, 4380756541440, 14631844184064],
    "happiness_index": [6.94, 7.16, 6.66, 7.07, 6.38, 6.4, 7.23, 7.22, 5.87, 5.12]
})

# Instantiate a LLM

from pandasai.llm.openai import OpenAI
llm = AzureOpenAI(api_token=OPENAI_API_KEY,api_base='https://abgpt.openai.azure.com/',deployment_name='test')

pandas_ai = PandasAI(llm, conversational=False)

In [4]:
pandas_ai(df, prompt=row_wise_prompt_returning_entire_df)

          country             gdp  happiness_index
0   United States  19294482071552             7.94
1  United Kingdom   2891615567872             8.16
2          France   2411255037952             7.66
3         Germany   3435817336832             8.07
4           Italy   1745433788416             7.38
5           Spain   1181205135360             7.40
6          Canada   1607402389504             8.23
7       Australia   1490967855104             8.22
8           Japan   4380756541440             6.87
9           China  14631844184064             6.12

In [5]:
pandas_ai(df, prompt=row_wise_prompt_returning_only_column)

   happiness_index
0             8.94
1             9.16
2             8.66
3             9.07
4             8.38
5             8.40
6             9.23
7             9.22
8             7.87
9             7.12

In [6]:
pandas_ai(df, prompt=dataframe_level_prompt)

6            Canada
7         Australia
1    United Kingdom
3           Germany
0     United States
Name: country, dtype: object